<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Gatorbook</title>
  </head>
  <body>
    <header>
      <h1>Gatorbook</h1>
    </header>
    <div id="postsContainer">
      <ul id="posts">
        <li id="post">
          <h2 id="username">Phillip</h2>
          <img
            src="https://cdn.shopify.com/s/files/1/0336/7167/5948/products/image-of-pumpkins-vegetables-27960732713004_600x600.jpg?v=1618238328"
          />
          <h3 id="description">This is my first post</h3>
        </li>
        <li id="post">
          <h2 id="username">Sidney</h2>
          <img
            src="https://solidstarts.com/wp-content/uploads/Pumpkin-for-Babies-scaled.jpg"
          />
          <h3 id="description">This is my first post</h3>
        </li>
      </ul>
    </div>
  </body>
</html>
